@value iconSize: 30px;
@value borderColor from './colors.css';
@value darkerLinkColor from './colors.css';

.dog {
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid borderColor;
}

.metaBox {
  height: 64px;
  padding: 17px;
  margin-top: -4px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid borderColor;
  border-top: none;
  border-radius: 0 0 3px 3px;

  * {
    display: inline-block;
  }
}

.authorPhoto {
  float: left;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid borderColor;
  width: iconSize;
  height: iconSize;
  margin-right: 10px;
}

.authorName {
  float: left;
}

.permalink {
  float: right;
}

.authorName,
.permalink {
  font-weight: 600;
  line-height: 29px;
  font-size: 1rem;
  composes: link from './link.css';
}

.instagramLogo {
  height: 29px;
}
