@value linkColor from './colors.css';

.link {
  color: linkColor;
  composes: roboto from './shared.css';
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
