@value bgColor from './colors.css';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

:global {
  html,
  body,
  #main {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #main > div,
  #main > div > div {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: bgColor;
    font-size: 16px;
  }

  button {
    border: none;
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .sr-only {
    display: none !important;
  }
}
