@value bgColor from './colors.css';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roboto {
  @import 'https://fonts.googleapis.com/css?family=Roboto:400,500';

  font-family: 'Roboto', sans-serif;
}

:global {
  body {
    margin: 0;
    background-color: bgColor;
  }
}
