.minidog {
  height: 75px;
  width: 75px;
  flex-shrink: 0;
  transform-origin: top;
  z-index: 1;
  transition:
    z-index 0.3s ease,
    transform 0.3s ease;
  composes: link from './link.css';

  .minidogPic {
    display: block;
    height: 100%;
    background-size: 175%;
    background-position: center;
  }

  &:hover {
    z-index: 2;
    transform: scale(1.15);
  }
}

.standings {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
