@value shadow from './colors.css';

.voteContainer {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    height: calc(100vh - 50px);
  }
}

.vote {
  cursor: pointer;
  transition: 0.2s ease;
  max-width: 50%;

  &:first-of-type {
    margin-right: 30px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.015);
  }

  &:active {
    .voteIndicator {
      opacity: 0.3;
    }
  }

  .voteIndicator {
    opacity: 0;
    background-color: grey;
    background-image: url('../assets/images/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transition: opacity 0.2s;
  }

  @media (max-width: 600px) {
    max-width: unset;
    max-height: 50%;
    margin: 20px;

    &:first-of-type {
      margin: 20px 20px 0;
    }
  }
}
