@value shadow from './colors.css';

.voteContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote {
  cursor: pointer;
  transition: 0.2s ease;
  max-width: 50%;

  &:first-of-type {
    margin-right: 30px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.015);
  }
}
